.contactMe {
    margin: auto;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

        @include respond(big-tablet) {
            grid-template-columns: 1fr;
        }
    }

}