
//COLORS
$color-bg: #1f1f38;
$color-bg-variant: #2c2c6c;
$color-primary: #4db5ff;
$color-white: #fff;
$color-whitegrey: #ddd;
$color-orange: orange;
$color-neongreen: rgb(69, 250, 23);
$color-black: #000;

$color-darkBlue: #01376d;
$color-lightPink: #fe40a1;
$color-purple: #38045a;


$color-linear1: #141e30;
$color-linear2: #243b55;
$color-linear3: #365073;
$color-linear4: #4e6e96;
$color-linear5: #5fc7d3;