.navigation {
    background-color: rgba($color-black, 0.3);
    width: max-content;
    display: block;
    padding: .7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: .8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);

    a{
        background: transparent;
        padding: .9rem;
        border-radius: 50%;
        display: flex;
        font-size: 1.5rem;
        color: $color-white;

        &:hover {
            background: rgba($color-black, .2);
            color: $color-lightPink;
        }

        &.active {
            background: rgba($color-black, .2);
            color: $color-neongreen;
        }
    }
}
