.introduction {
    position: relative;
    padding: 5rem;
    border-radius: 5px;
    min-height: 70vh;
    margin: 6rem ;
    background-image: url('../assets/img/backgroundBlock.jpg');
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.8);
    animation: flyInFromLeft 1s ease-out;
    transition: all 1s;

    @include respond(big-tablet) {
        margin: 1rem;
        padding: 4rem;
    }



    &__informationBox {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 3rem;

        @include respond(big-tablet) {
            margin-top: 1rem;
        }

        @include respond(small-tablet) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 40rem
        }
    }

    &__paragraph {
        background-color: rgba($color-black, 0.4);
        border-radius: 25px;
        padding: 1rem;
        font-size: 1.4rem;
        z-index: 3;
        font-weight: 700;
        line-height: 2;
        text-align: justify;

        &::first-letter {
            padding-left: 2rem;
        }

        @include respond(small-desktop) {
            font-size: 1.3rem;
        }

        @include respond(big-tablet) {
            font-size: 1.1rem;
        }
    }
    
    &__buttonBox {
        display: inline-flex;
        margin-top: 2rem;
        gap: 2rem;;

        &--1, &--2 {
            padding: 1.4rem;
            border-radius: 5px;
            background-color: rgba($color-lightPink, 0.7);
            color: $color-white;
            font-size: 1.4rem;
            border: none;
            font-weight: 600;
            cursor: pointer;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 60%);

            a {
                color: $color-white;
                text-decoration: none;
            }
        }

        &--1:hover, &--2:hover {
            background-color: rgba($color-lightPink, 1);
            transform: scale(1.1);
            transition: all 0.5s;

        }

    }
    &__rightSide {
        bottom: -.5rem;
        right: 1rem;
        position: absolute;

        @include respond(small-desktop) {
            right: -8rem;
        }
        @include respond(big-tablet) {
            right: -10rem;
        }

        @include respond(mid-tablet) {
            right: -15rem;
        }

        @include respond(small-tablet) {
          position: relative;
          text-align: center;
          right: 0;
          height: 40rem;
        }
    }

    &__image {

      @include respond(small-desktop) {
        width: 95%;
      }

      @include respond(big-tablet) {
        width: 90%;
        height: auto;
      }

      @include respond(mid-tablet) {
        width: 70%;
      }

      @include respond(small-tablet) {
        width: 100%;
        height: 100%;
      }
    }
}

.cyber-bar-1, .cyber-bar-2, .cyber-bar-3, .cyber-bar-4 {
    position: absolute;
    overflow: hidden;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      z-index: -1;
    }

    &::before, 
    &::after {
      background: linear-gradient(to right, $color-darkBlue, $color-lightPink, $color-purple);
    }

    &::before {
        width: 100%;
      }

      &::after {
        height: 100%;
      }
}

.cyber-bar-1 {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    
    &::before,
    &::after {
      bottom: 0;
    }
    
    &::before {
      left: 0;
      animation: cyber-bar-bottom-left-to-bottom-right 9s ease-out infinite;
    }
    
    &::after {
      right: 0;
      animation: cyber-bar-bottom-left-to-bottom-right 12s ease-out infinite;
    }
}

.cyber-bar-2 {
    bottom: 0;
    right: 0;
    width: 2px;
    height: 100%;

    &::before,
    &::after {
        right: 0;
    }

    &::before {
        bottom: 0;
        animation: cyber-bar-from-bottom-right-to-top-right 9s ease-out infinite;
    }

    &::after {
        top: 0;
        animation: cyber-bar-from-bottom-right-to-top-right 12s ease-out infinite;
    }
}

.cyber-bar-3 {
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
  
    &::before,
    &::after {
      bottom: 0;
    }
  
    &::before {
      right: 0;
      animation: cyber-bar-from-top-right-to-top-left 7s ease-out infinite;
    }
  
    &::after {
      left: 0;
      animation: cyber-bar-from-top-right-to-top-left 10s ease-out infinite;
    }
}

.cyber-bar-4 {
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
  
    &::before,
    &::after {
      right: 0;
    }
  
    &::before {
      top: 0;
      animation: cyber-bar-from-top-left-to-bottom-left 9s ease-out infinite;
    }
  
    &::after {
      bottom: 0;
      animation: cyber-bar-from-top-left-to-bottom-left 12s ease-out infinite;
    }
}